<div class="roomDetails">
  <h2>Room details</h2>
  <a class="btn btn-small btn-warning">edit</a>
  <a class="btn btn-small btn-warning">delete</a>
  <table>
    <tr>
      <td>id</td><td>id placeholder</td>
    </tr>
    <tr>
      <td>name</td><td>name placeholder</td>
    </tr>
    <tr>
      <td>location</td><td>location placeholder</td>
    </tr>
  </table>
  <h4>This room can accomodate:</h4>
  <table>
    <tr> <!-- repeat the tr for each capacity -->
      <td>layout placeholder</td><td>capacity placeholder</td>
    </tr>
  </table>
</div>
